html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
  line-height: unset;
  font-weight: unset;
  font-size: unset;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables  */
:root {
  font-size: 16px;

  --clr-primary-400: #ec091c;

  --clr-accent-400: #00519d;

  --clr-tertiary-400: #5c5c5c;
  --clr-tertiary-600: #262626;

  --clr-text-100: #fff;
  --clr-text-400: #252525;
  --clr-text-700: #000;

  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "Roboto", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-650: 2.5rem;
  --fs-700: 3rem;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-text-400);
}

/* Utility */

.t-center {
  text-align: center;
}

.content-space {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.space {
  height: 1000px;
}

/* Buttons */

.btn {
  padding: 0.75em 2em;
  border-radius: 100vmax;
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);

  cursor: pointer;
}

.btn-primary {
  background-color: var(--clr-primary-400);
  color: var(--clr-text-100);
}

.btn-secondary {
  border: 1px solid #fff;
}

.primary-header {
  color: var(--clr-text-100);
  font-family: var(--ff-accent);
  font-size: var(--fs-700);
  font-weight: var(--fw-medium);
}

.secondary-header {
  color: var(--clr-accent-400);
  font-size: var(--fs-600);
  font-weight: var(--fw-medium);

  font-family: var(--ff-accent);
}

/* Home */

/* Solutions Cards */
.solutions-container {
  position: relative;
}

.solutions-container h2 {
  background-color: var(--clr-primary-400);
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.card-deck {
  display: flex;
  justify-content: space-evenly;

  width: 70%;
  margin-inline: auto;
}

.card-wrapper {
  position: relative;
}

.card {
  height: 340px;
  width: 372px;

  border: 1px solid rgb(206, 206, 206);

  margin-top: -50px;

  background-color: #fff;
}

.card-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-title {
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
}

.card-body-text {
  font-size: var(--fs-400);
  width: 25ch;
}

.card-link a {
  color: var(--clr-accent-400) !important;
  font-size: var(--fs-400) !important;
}

.card-link a:hover {
  color: var(--clr-primary-400) !important;
}

.gradient-bar {
  height: 10px;
  width: 100%;
  display: none;
  background: rgb(236, 9, 28);
  background: linear-gradient(
    90deg,
    rgba(236, 9, 28, 1) 0%,
    rgba(0, 81, 157, 1) 100%
  );

  position: absolute;
  top: -50px;
}

.card:hover ~ .gradient-bar {
  display: block;
}

/* CTA */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-container > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.cta-container h3 {
}

.cta-container p {
  width: 60ch;
  margin-bottom: 1.5rem;
}

/* Rates */
.rates-container {
  background-color: var(--clr-tertiary-400);
  color: var(--clr-text-100);
}

.rates-container h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rate-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.rates-container .btn-wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.rate-link {
}
