<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/GBD-theme/dist/main.css">
    <title>Document</title>
</head>

<body style="width: 800px; margin-inline:auto; padding:5rem">
    <div class="account-fees | rates-table">
        <table>
            <tr>
                <th colspan="2" class="t-start">Account Related Fees</th>
            </tr>
            <tr>
                <td>Membership Fee</td>
                <td>$1.00</td>

            </tr>
            <tr>
                <td>Membership reopen fee</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td>Mailed paper statement</td>
                <td>$2.00 per month</td>
            </tr>
            <tr>
                <td>Account history</td>
                <td>$2.00 per page</td>
            </tr>
            <tr>
                <td>Returned mail fee (incorrect address, per account)</td>
                <td>$2.00 per month</td>
            </tr>
            <tr>
                <td>Account closure within 180 days</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <td>Inactive/dormant account (after 12 months) fee</td>
                <td>$5.00 per month</td>
            </tr>
            <tr>
                <td>Share withdrawal fee</td>
                <td>3 FREE withdrawals per month thereafter $5.00 each withdrawal</td>
            </tr>
            <tr>
                <td><strong>Transfer balance request via emai/phone with FSR**</strong></td>
                <td><strong>$2.00 per transfer</strong></td>
            </tr>
        </table>
    </div>

    <div class="ach-fees | rates-table">
        <table>
            <tr>
                <th colspan="2" class="t-start">ACH Related Fees</th>
            </tr>
            <tr>
                <td>ACH NSF fee</td>
                <td>$30.00 per item</td>
            </tr>
            <tr>
                <td>Courtesy Pay (Overdraft privilege)</td>
                <td>$35.00 per item</td>
            </tr>
            <tr>
                <td>Stop payment on ACH</td>
                <td>$15.00 per item</td>
            </tr>
            <tr>
                <td><strong>ACH origination (one time transfer) set up fee*</strong></td>
                <td><strong>$5.00(Max. up to $5000 per transfer)</strong></td>
            </tr>
            <tr>
                <td><strong>ACH origination (recurrent transfer) set up fee*</strong></td>
                <td><strong>FREE (Max. up to $5000 per transfer)</strong></td>
            </tr>
            <tr>
                <td><strong>ACH origination (one time transfer/same day process) set up fee*</strong></td>
                <td><strong>$7.50(Max. up to $5000 per transfer)</strong></td>
            </tr>

        </table>
    </div>

    <div class="atm-fees | rates-table">
        <table>
            <tr>
                <th colspan="2" class="t-start">ATM/ Check Card Fees</th>
            </tr>
            <tr>
                <td>Visa ATM/Debit replacement Card</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td>Expedited card or pin</td>
                <td>$55.00</td>
            </tr>
            <tr>
                <td>Overnight card or pin</td>
                <td>$75.00</td>
            </tr>
            <tr>
                <td>Withdrawals at ATMs in network (CO-OP/Alcon Facilities)</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Withdrawal at ATMs outside network</td>
                <td>$1.00</td>
            </tr>
            <tr>
                <td>Inquiries at ATMs in network (CO-OP/Alcon Facilities)</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Transfers at ATMs in network (CO-OP/Alcon Facilities)</td>
                <td>FREE</td>
            </tr>
        </table>
    </div>

    <div class="checking-fees | rates-table">
        <table>
            <tr>
                <th colspan="2" class="t-start">Checking Account Related Fees</th>
            </tr>
            <tr>
                <td>Minimum Balance Fee, if balance falls below $250.00 at any time during the month. (Share draft
                    account without direct deposit)</td>
                <td>$5.00 per month</td>
            </tr>
            <tr>
                <td>Checking account with direct deposit</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>NSF fee (returned Alcon EFCU draft)</td>
                <td>$30.00 per item</td>
            </tr>
            <tr>
                <td>Stop payment on check</td>
                <td>$15.00 per item</td>
            </tr>
            <tr>
                <td>Courtesy Pay (Overdraft privilege)</td>
                <td>$35.00 per item</td>
            </tr>
        </table>
    </div>

    <div class="other-fees | rates-table">
        <table>
            <tr>
                <th colspan="2" class="t-start">Other Fees</th>
            </tr>
            <tr>
                <td>Returned deposit Item fee</td>
                <td>$15.00</td>
            </tr>
            <tr>
                <td>Foreign collection Item (exchange fees may also apply)</td>
                <td>$30.00</td>
            </tr>
            <tr>
                <td>Copies of share drafts</td>
                <td>$2.00 per item</td>
            </tr>
            <tr>
                <td>Online banking check images</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Notary service (Members)</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Notary service (Non-Members)</td>
                <td>$6.00 first signature
                    <br>
                    $1.00 each additional signature
                </td>
            </tr>
            <tr>
                <td>Quick Cash Loan application fee</td>
                <td>$20.00 per application</td>
            </tr>

        </table>
    </div>

    <div class="wire-fees | rates-table">
        <table>
            <tr>
                <th colspan="2" class="t-start">Wire transfers</th>
            </tr>
            <tr>
                <td>Incoming</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Outgoing (domestic)</td>
                <td>$15.00</td>
            </tr>
            <tr>
                <td>Outgoing (international in US dollars)</td>
                <td>$35.00</td>
            </tr>
            <tr>
                <td>Outgoing (International in foreign currency)</td>
                <td>$50.00</td>
            </tr>
        </table>
    </div>

    <div class="money-orders-fees | rates-table">
        <table>
            <tr>
                <th colspan="2" class="t-start">Money Orders/Checks</th>
            </tr>
            <tr>
                <td>Cashier’s check fee</td>
                <td>$3.00 per check</td>
            </tr>
            <tr>
                <td>CU check</td>
                <td>$1.00 per check</td>
            </tr>
            <tr>
                <td>Visa Gift Card</td>
                <td>$3.00 per card</td>
            </tr>
            <tr>
                <td>Overnight CU checks</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <td>Overnight Saturday CU checks</td>
                <td>$45.00</td>
            </tr>
            <tr>
                <td>Copy of checks request via email/phone with FSR**</td>
                <td>$2.00 per copy</td>
            </tr>
            <tr>
                <td>Copy of Credit Union checks</td>
                <td>$2.00 per copy</td>
            </tr>
            <tr>
                <td>Copy of Cashier’s checks</td>
                <td>$5.00 per copy</td>
            </tr>
            <tr>
                <td>Check request via Audio Teller or online banking</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Check request via email/phone with MSR**</td>
                <td>$2.00</td>
            </tr>
        </table>
    </div>


    <div class="online-services-fees | rates-table">
        <table>
            <tr>
                <th colspan="2" class="t-start">Online Services</th>
            </tr>
            <tr>
                <td>Online Banking</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Online banking check copies</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Online banking transfers (within account or linked accounts)</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Bill Pay services</td>
                <td>FREE</td>
            </tr>
            <tr>
                <td>Bill Pay next day check payment request (per payment)</td>
                <td>$19.95</td>
            </tr>
            <tr>
                <td>Bill Pay two days check payment request (per payment)</td>
                <td>$14.95</td>
            </tr>
            <tr>
                <td>Bill Pay NSF returned items</td>
                <td>$30.00</td>
            </tr>
            <tr>
                <td>Bill Pay proof of payment (per request)</td>
                <td>$15.00</td>
            </tr>
            <tr>
                <td>Bill Pay stop payment (per request)</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <td>Bill Pay service request (claims, late fees, unable to locate, pay not posted, outstanding check, archived retrieval request, etc.)</td>
                <td>$25.00 per request</td>
            </tr>
            <tr>
                <td>Bill Pay Gift Check</td>
                <td>$2.99 per gift check</td>
            </tr>
            <tr>
                <td>Bill Pay Donation</td>
                <td>$1.99 per donation</td>
            </tr>
            <tr>
                <td>E-Statements</td>
                <td>FREE</td>
            </tr>
        </table>
    </div>


    <small><em>Fees effective 11/01/2022. Service fees subject to change with notice. Please review this Fee Schedule in conjunction with our Terms and Conditions and Truth-in-Savings Disclosures. </em></small>


    *ACH origination deadline is 2 pm CST (M-F)
**FSR (Financial Service Representative)

</body>
</html>