$clr-text-100: #fff;
$clr-text-400: #252525;
$clr-text-700: #000;

$ff-primary: "Open Sans", sans-serif;
$ff-accent: "Roboto", sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 800;

$fs-300: 0.75rem;
$fs-400: 1rem;
$fs-425: 1.125rem;
$fs-450: 1.25rem;
$fs-500: 1.5rem;
$fs-600: 2rem;
$fs-650: 2.5rem;
$fs-700: 3rem;
$fs-900: 4rem;