/* custom nav */

.hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  
  
  .nav-list {
    list-style: none !important;
    padding: 0;
  }
  
  .nav-link {
    transition: 0.5s;
  
    color: var(--clr-text-100);
    text-transform: capitalize;
    font-weight: var(--fw-medium)
  }
  
  .nav-pipes {
    display: none
  }
  
  .sub-menu-list {
    display: none;
    list-style: none !important;
    padding: 0;
  }
  
  
  .sub-menu-list-lower {
    display: none;
  }
  
  @media(max-width:1200px) {
  
    header {
      background-color: var(--clr-neutral-600);
    }
  
    #navbar {
      position: relative;
    }
  
    .hamburger {
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .menu {
      position: absolute;
      left: -100%;
      top: 100px;
      gap: 0;
      flex-direction: column;
      background-color: var(--clr-neutral-600);
      width: 100%;
      transition: 0.3s;
      z-index: 9999;
    }
  
    .menu.active {
      left: 0;
    }
  
    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      text-align: center;
  
      padding-bottom: 1rem !important;
    }
  
    .nav-link:hover {
      color: var(--clr-primary-400);
    }
  
    .mobile-nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0.5rem;
    }
  
    .sub-menu-list {
      color: var(--clr-text-100);
      list-style: none !important;
      padding: 0;
      text-transform: capitalize;
  
      background-color: var(--clr-accent-400);
      text-align: start;
      padding: 1rem 2rem;
    }
  
    .sub-menu-list.active {
      display: block;
    }
  
    .sub-menu-wrapper {
      padding: 1rem;
      padding-left: 15vw;
    }
  
    .sub-menu-list li {
      padding-bottom: 0.5rem;
    }
  
    .sub-menu-list li:last-child {
      padding-bottom: 0;
    }
  
    .sub-menu-item {
      position: relative;
      color: var(--clr-text-100);
  
    }
  
    .sub-menu-item:hover::after {
      content: "";
      background-color: var(--clr-primary-400);
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 1px;
      width: 125px;
    }
  
    .sub-menu-list-lower {
      color: var(--clr-text-100);
      list-style: none !important;
      padding: 0;
      text-transform: capitalize;
    }
  }
  
  @media(min-width:1200px) {
    .navbar {
      display: grid;
      grid-template-columns: 1fr 2fr;
      position: absolute;
      width: 95%;
      max-width: 1870px;
      margin-inline: auto;
      padding: 1.5rem 0;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .inner-nav {
      background-color: var(--clr-neutral-600);
      position: static;
      width: 100%;
      transform: unset;
      max-width: unset;
      padding: 1rem;
    }
  
    .menu {
      order: 2;
  
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    .nav-list {
      display: flex;
      gap: 1rem;
  
      /* position: relative; */
    }
  
    .nav-link {
      text-transform: uppercase;
    }
  
    .cta-nav {
      gap: 0.5rem;
    }
  
    .nav-pipes {
      display: inline;
      color: var(--clr-text-100)
    }
  
  
    .sub-menu-list {
      background-color: rgba(255, 255, 255, 0.8);
    }
  
    .gradient-bar-menu {
      height: 7px;
  
      width: 100%;
      /* width: calc(100% - 1rem); */
      /* display: none; */
      background: rgb(236, 9, 28);
      background: linear-gradient(90deg,
          rgba(236, 9, 28, 1) 0%,
          rgba(0, 81, 157, 1) 100%);
  
      position: absolute;
      top: 0;
  
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }
  
    .sub-menu-list.active {
      display: block;
      display: flex;
      gap: 3rem;
  
      position: absolute;
      transform: translateX(-30%);
  
      /* padding: 1rem 2rem; */
      border-radius: 3px;
    }
  
    .sub-menu-wrapper {
      padding: 1.25rem 2rem;
      display: flex;
      gap: 3rem;
    }
  
    .sub-menu-item {
      color: var(--clr-accent-400);
      text-transform: uppercase;
      font-weight: var(--fw-bold);
  
      /* font-size: var(--fs-425); */
  
      position: relative;
    }
  
    .sub-menu-item:hover{
      opacity: 0.85;
    }
  
    .sub-menu-item:after {
      content: "";
      background-color: var(--clr-primary-400);
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      width: 45px;
    }
  
    /* .no-underline .sub-menu-item::after{
      content:unset;
    } */
  
    .sub-menu-list-lower {
      display: block;
      padding: 0;
      list-style: none !important;
      text-transform: uppercase;
      font-weight: var(--fw-medium);
      font-size: 16px;
      padding-top: 1.5rem !important;
  
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      width: 20ch;
    }
  
    .sub-menu-list-lower a {
      color: var(--clr-text-700);
      transition: 0.3s;
    }
  
    .sub-menu-list-lower a:hover {
      color: var(--clr-primary-400);
      margin-left: 0.5rem;
    }
  
    .solutions-sub .sub-menu-wrapper {
      flex-direction: column;
      gap: 1.25rem;
      /* color: var(--clr-text-700); */
    }
  
    .login-sub-menu {
      right: -180px;
    }
  
  }