* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input {
    margin: 0;
    padding: 0;
    line-height: unset;
    font-weight: unset;
    font-size: unset;
}

a {
    text-decoration: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    background-color: #000;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

ul {
    list-style: none;
}

/* Variables  */
:root {
    font-size: 16px;

    --clr-primary-300: #ff505f;
    --clr-primary-400: #ec091c;

    --clr-accent-300: #0571d6;
    --clr-accent-400: #00519d;

    --clr-neutral-400: #5c5c5c;
    --clr-neutral-600: #262626;

    --clr-text-100: #fff;
    --clr-text-400: #252525;
    --clr-text-700: #000;

    --ff-primary: "Open Sans", sans-serif;
    --ff-accent: "Roboto", sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 800;

    --fs-400: 1rem;
    --fs-425: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-650: 2.5rem;
    --fs-700: 3rem;
    --fs-900: 4rem;
}

body {
    font-family: var(--ff-primary);
    color: var(--clr-text-400);
}

.relative {
    position: relative;
}

.mb-350{
 margin-bottom:0.75rem; 
}
    


/* Header */
header {
    background-color: var(--clr-neutral-600);
    padding: 0.75rem 1.5rem;
}

@media(max-width:1199px) {

    .navbar {
        margin-top: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        position: absolute;
        left: -100%;
        z-index: 999;
        width: 100%;

        transition: 0.3s ease-in-out;
        background-color: var(--clr-neutral-600);
    }

    .navbar.active {
        left: 0;
    }

    .navbar a {
        color: var(--clr-text-100);
        text-transform: capitalize;
    }

    .mobile-nav {
        position: absolute;
        top: 35px;
        right: 18px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .menu {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .menu-item a:hover {
        margin-left: 0.25rem;
        transition: 0.5s;
    }

    .menu-item:hover>.sub-menu-1 {
        opacity: 1;
        pointer-events: all;
        position: relative;

        background-color: var(--clr-accent-400);
        width: 100%;
    }

    .sub-menu-1 {
        opacity: 0;
        position: absolute;
    }

    .sub-menu-1-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 0;

        text-align: left;
        padding-left: 3rem;
    }

    .sub-menu-1-header:hover::after {
        content: "";
        background-color: var(--clr-primary-400);
        position: absolute;
        top: 24px;
        left: 0.35rem;
        height: 2px;
        width: 45px;
        transition: 0.5s;
    }


    .sub-menu-2 {
        display: none;
    }

    .pipe-span {
        display: none;
    }
}

@media(min-width:1200px) {
    .nav-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1860px;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;
    }

    .navbar a {
        color: var(--clr-text-100);
    }

    .mobile-nav {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1rem;
    }

    .menu-item {
        text-transform: uppercase;
        position: relative;
    }

    .menu-item:hover>.sub-menu-1 {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(-25%);
        pointer-events: all;
    }

    .sub-menu-1 {
        /* display: none; */
        position: absolute;
        z-index: 999;

        opacity: 0;
        /* transform: translateY(-200px); */
        pointer-events: none;
        transition: 0.4s ease-out;

        min-width: 100%;
        width: max-content;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 3px;
    }

    .right-0 {
        right: -45px;
    }

    .menu-item:hover>.straight-col {
        opacity: 1;
        transform: translateY(0%);
        pointer-events: all;
    }

    .gradient-bar-menu {
        height: 7px;

        width: 100%;
        /* width: calc(100% - 1rem); */
        /* display: none; */
        background: rgb(236, 9, 28);
        background: linear-gradient(90deg,
                rgba(236, 9, 28, 1) 0%,
                rgba(0, 81, 157, 1) 100%);

        position: absolute;
        top: 0;

        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .sub-menu-1-wrapper {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        gap: 1rem;
        padding: 1rem;
    }

    .col-wrapper {
        grid-auto-columns: unset;
        grid-auto-flow: unset;
    }

    .sub-menu-1-wrapper a {
        color: var(--clr-accent-400);
        font-weight: var(--fw-bold);
    }

    .sub-menu-1-header::after {
        content: "";
        background-color: var(--clr-primary-400);
        position: absolute;
        top: 24px;
        left: 0;
        height: 2px;
        width: 45px;
    }

    .sub-menu-2 {
        padding-top: 1rem;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .sub-menu-2 a {
        color: var(--clr-text-700);
        font-weight: var(--fw-regular);
        transition: 0.5s;
    }

    .sub-menu-2 a:hover {
        color: var(--clr-primary-400);
        margin-left: 1rem;

    }

    .pipe-span {
        color: var(--clr-text-100);
    }
}