@use '/src/sass/abstracts/'as abs;

.info-page {
  .secondary-header {
    color: abs.$clr-accent-400;
    font-weight: abs.$fw-bold;
    margin-bottom: 0 !important;
  }

  .tertiary-header {
    font-size: 1.5rem;
    margin-bottom: 0 !important;
  }

  // ul{
  //   margin-left: 2rem;
  // }
}



.insurance {
  .secondary-header {
    margin-bottom: 0 !important;
  }

  .tertiary-header {
    font-size: 1.5rem;
  }

  .et_pb_row {
    padding-bottom: 0 !important;

    .et_pb_module {
      margin-bottom: 0 !important;
    }
  }
}

.trustage {
  .secondary-header {
    font-size: 1.25rem;
  }

  .tertiary-header {
    font-size: 1rem;
  }

  .et_pb_row {
    padding-top: 0 !important;

    .et_pb_module {
      margin-bottom: 0 !important;
    }
  }
}

.gap-insurance {
  .secondary-header {
    font-size: 1.25rem;
  }

  .tertiary-header {
    font-size: 1rem;
    margin-bottom: 1rem !important;
  }
}

.visa-gift-card-section {
  padding: 3rem 0 !important;
  .primary-header{
    font-weight: 700;
  }
  .visa-q {
    text-decoration: underline;
    font-weight: abs.$fw-bold;
  }
  a{
    color: abs.$clr-accent-400;
  }
}