@use '/src/sass/abstracts/'as abs;


.inner-content-section, .inner-content-accent, .inner-content-accent-700 {
  padding: 1.5rem 0 !important;

}

@media(min-width:40em){
  .inner-content-section, .inner-content-accent, .inner-content-accent-700 {
    padding: 2rem 0 !important;
  }
}


.inner-content-section {
  
  ul {
    a {
      color: abs.$clr-accent-400;
      text-decoration: underline;
    }
  }
}

.inner-content-accent,
.inner-content-accent-700 {
  ul {
    a {
      text-decoration: underline;
      color: abs.$clr-text-100;

      &:hover {
        color: abs.$clr-primary-400;
      }
    }
  }
}


.inner-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem 0 !important;
  // margin: auto !important;
  .et_pb_row{
    margin-bottom: auto !important;
  }

}

@media (min-width: 60em) {
  .inner-hero-container {
    height: 730px;
  }
}

.inner-hero-container {
  margin-bottom: 0 !important;
  // padding-bottom: 0;

  h1,
  p {
    color: abs.$clr-text-100;
  }

}

.inner-hero-container{
  .sub-header{
    font-size: abs.$fs-425;
    color: abs.$clr-text-100;
  }
}



// .inner-hero-text-wrapper h1, p{

// }

// .inner-hero-text-wrapper p{
//   font-size: abs.$fs-425;
// }

@media(min-width:50em) {
  .inner-hero-container{
    .sub-header {
      font-size: abs.$fs-500;
    }
  }
}


.inner-content-wrapper {
  flex-direction: column;
}

@media (min-width: 60em) {
  .inner-content-wrapper {
    --gap: 0;
    flex-direction: row;
  }
}

.accent-wrapper {
  flex-direction: column-reverse;
}

@media (min-width: 60em) {
  .accent-wrapper {
    flex-direction: row;
  }
}

.inner-content-accent {
  background-color: abs.$clr-accent-400;
  color: abs.$clr-text-100;
}

.inner-content-accent-700 {
  background-color: abs.$clr-neutral-600;
  color: abs.$clr-text-100;
}

.inner-content-tertiary {
  background-color: abs.$clr-neutral-600;
  color: abs.$clr-text-100;
}

.inner-content-container{
  margin-bottom: 1.5rem !important;
  p {
    margin-bottom: 0.5rem;
  }
} 

// @media(min-width:50em) {
//   .inner-content-container p {
//     margin-bottom: 1.5rem;
//   }
// }


.inner-content-container ul {
  font-weight: var(--fw-bold);
  padding-inline-start: 2.5em !important;
}


.inner-content-container .btn {
  margin-top: 1.5rem;
}

.inner-logo-wrapper img {
  display: none;
}

@media (min-width: 1500px) {
  .inner-logo-wrapper img {
    display: block;
    position: absolute;
    top: -486px;
    z-index: -100;
    opacity: 0.5;
  }
}

.notice-container {
  flex-direction: column;
  --gap: 0.5rem;

  a {
    color: abs.$clr-accent-400;
    text-decoration: underline;
  }
}

.id-fix{
  position: absolute;
  top: -120px;
  visibility: hidden;
}