@use '../abstracts' as abs;

.info-page{

  .secondary-header h1, h2, h3 {
    color: abs.$clr-accent-400;
    font-weight: abs.$fw-bold;
  }
}

.visa-debit-card{
    .btn-primary{
        background-color: unset;
        color: abs.$clr-accent-400;
        text-decoration: underline;
    }
}
