@use '../abstracts' as abs;

.info-page{
    .secondary-header{
        color: abs.$clr-text-700;
    }
}

.visa-debit-card{
    .btn-primary{
        background-color: unset;
        color: abs.$clr-accent-400;
        text-decoration: underline;
    }
}
