@use '../abstracts'as abs;

.resources-bank {
    padding: 2rem 0 !important;
    .et_pb_row{
        padding: 0 !important;

        .secondary-header {
            margin-bottom: 0 !important;
        }
    
        .tertiary-header {
            font-size: abs.$fs-450;
            font-weight: abs.$fw-regular;
            margin-bottom: 0 !important;
        }
    
        .sub-menu {
            margin-inline-start: 2rem;
            margin-bottom: 0 !important;
        }
    }


}