<h3 style="text-align: center">Important Message</h3>
<p>You are now leaving Alcon Federal Credit Union's website. You are linking to an alternate website that is not
    operated by the credit union. The credit union is not responsible for content on the alternate site. Privacy and
    security policies of the alternate site may differ from those practiced by the credit union.</p>
<div class="modal-btn-wrapper">
    <span class="wow-modal-close-14 btn btn-modal-cancel">Cancel</span>
    <a href="https://www.instagram.com/alconefcu1/" class="btn btn-modal-continue">Continue</a>
</div>

<!-- Custom Modals -->
<dialog class="modal">
    <h2>Important Message</h2>
    <p>You are now leaving Alcon Federal Credit Union's website. You are linking to an alternate website that is not operated by the credit union. The credit union is not responsible for content on the alternate site. Privacy and security policies of the alternate site may differ from those practiced by the credit union.</p>
    <div class="modal-btn-wrapper">
        <span class="btn btn-modal-cancel">Cancel</span>
        <a href="" class="btn btn-modal-continue">Continue</a>
    </div>

</dialog>