@use '../abstracts' as abs;


.btn {
    padding: 0.6em 1.5em !important;
    border-radius: 100vmax;
    font-size: abs.$fs-400;
    font-weight: abs.$fw-semi-bold;
    color: abs.$clr-text-100;
    a{
      color: abs.$clr-text-100;
    }
   
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    max-width: fit-content;
  }
  
  @media (min-width: 50em) {
    .btn {
      /* padding: 0.75em 1.25em; */
      font-size: abs.$fs-425 !important;
    }
  }
  
  .btn-primary {
    background-color: abs.$clr-primary-400;
    // a{
    //   color: abs.$clr-text-100;
    // }
    &:hover{
      background-color: abs.$clr-primary-300;
    }
  }

  .btn-secondary {
    border: 1px solid abs.$clr-text-100;
    &:hover{
      background-color:  rgba(255 255 255 / 0.1); 
    }
  }
