@use '../abstracts/colors';
@use '../abstracts/fonts';

.primary-header {
    color: fonts.$clr-text-100;
    font-family: fonts.$ff-accent;
    font-size: fonts.$fs-600;
    font-weight: fonts.$fw-medium;
  }
  
  @media (min-width: 50em) {
    .primary-header {
      color: fonts.$clr-text-100;
      font-family: fonts.$ff-accent;
      font-size: fonts.$fs-700;
      font-weight: fonts.$fw-medium;
    }
  }
  
  .primary-header-700 {
    font-size: fonts.$fs-650;
  }
  
  @media (min-width: 50em) {
    .primary-header-700 {
      font-size: fonts.$fs-900;
    }
  }
  
  .secondary-header {
    color: colors.$clr-accent-400;
    font-size: fonts.$fs-600;
    font-weight: fonts.$fw-medium;
  
    font-family: fonts.$ff-accent;
  }
  
  .tertiary-header {
    font-size: fonts.$fs-600;
    font-weight: fonts.$fw-bold;
  }
  
  .tertiary-header-primary {
    color: fonts.$clr-text-700;
  }
  
  .tertiary-header-accent {
    color: fonts.$clr-text-100;
  }
  
  .quarternary-header{
    font-size: fonts.$fs-450;
    font-weight: fonts.$fw-bold;
    text-decoration: underline;
  }