@use '../abstracts' as abs;

.primary-header {
    color: abs.$clr-text-100;
    font-family: abs.$ff-accent;
    font-size: abs.$fs-600;
    font-weight: abs.$fw-medium;
  }
  
  @media (min-width: 50em) {
    .primary-header {
      color: abs.$clr-text-100;
      font-family: abs.$ff-accent;
      font-size: abs.$fs-700;
      font-weight: abs.$fw-medium;
    }
  }
  
  .primary-header-700 {
    font-size: abs.$fs-650;
  }
  
  @media (min-width: 50em) {
    .primary-header-700 {
      font-size: abs.$fs-900;
    }
  }
  
  .secondary-header {
    color: abs.$clr-accent-400;
    font-size: abs.$fs-600;
    font-weight: abs.$fw-medium;
  
    font-family: abs.$ff-accent;
  }
  
  .tertiary-header {
    font-size: abs.$fs-600;
    font-weight: abs.$fw-bold;
  }

  .tertiary-header-primary {
    color: abs.$clr-text-700;
  }
  
  .tertiary-header-accent {
    color: abs.$clr-text-100;
  }
  
  .quarternary-header{
    font-size: abs.$fs-450;
    font-weight: abs.$fw-bold;
    text-decoration: underline;
  }