.card-deck-de {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    overflow-x: scroll;


}

.card-wrapper-de {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;

}

.card-de {
    width: 400px;
    border: 2px solid #cecece;
    display: grid;

    display: grid;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;

    .card-icon-de {
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-header-de {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #000;
    }

    .card-body-de {
        font-size: 1rem;
        max-width: 30ch;
        text-align: center;
    }

    .card-cta-de {
        color: #00519d;
        text-align: center;
        font-weight: 700;
    }
}

.desktop-slider {
    display: none;

    @media(min-width: 1000px) {
        display: block;
    }
}

.mobile-slider {
    display: block;

    @media(min-width: 1000px) {
        display: none;
    }

}

// .active {
//     display: block;
// }