@use '/src/sass/abstracts/' as abs;


.modal-window-content {
    font-size: abs.$fs-400;
    font-family: abs.$ff-primary;
    color: abs.$clr-text-700;
    padding: 0.75rem !important;
  
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  @media(min:40em){
    .modal-window-content{
      padding: 1rem 2rem;
    }
  }
  
  .modal-window-content h3 {
    font-size: abs.$fs-600;
  }
  
  .modal-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .btn-modal-cancel {
    background-color: abs.$clr-primary-400;
  }
  
  .btn-modal-continue {
    background-color: abs.$clr-accent-400;
  
  }
  
  /* custom modal */
  dialog {
    padding: 0;
  }
  
  .modal {
    width: 50ch;
  }
  
  .modal-content {
    padding: 1rem;
  }
  
  .modal-header {
    font-size: abs.$fs-600;
  }
  
  .close-btn {
    position: absolute;
    right: 0;
  }
  
  .close-btn>img {
    height: 50px;
  }