@use '/src/sass/abstracts/' as abs;

.page-template-calculators {}

.calculator-section{
  padding: 3rem 0 !important;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  table {
    font-family: abs.$ff-primary;

    h1,
    h2 {
      margin: 0;
    }

    td {
      font-size: 16px;
    }

    input {
      font-family: abs.$ff-primary;
      font-size: 16px;
    }
    .main-header {
      background-color: abs.$clr-accent-400;
      color: abs.$clr-text-100;
      font-size: abs.$fs-500;
    }

    .left-col {
      background-color: #eeeeee;
      span{
        font-weight: 600;
      }
    }
    
    .footer-inputs {
      padding: 15px 10px;
      background-color: abs.$clr-accent-400;
      color: abs.$clr-text-100;
      border: none;
      border-radius: 3px;
      font-size: 20px;
    }
  }
}

.amort-table td:not(:first-child) {
  background-color: #eee;
}